<div class="sidebar">
    <h4 class="p-3">File Management</h4>
    <a href="/dashboard">Dashboard</a>
    <a href="/folder">Folder</a>
    <a href="#">Post Management</a>
    <a href="#">Event Management</a>
    <a href="#">Advertisement</a>
    <a href="#">Leads</a>
    <a href="#">Master</a>
  </div>